/* Set colors for the page */
body{
    background-color: white;
    color: rgb(15, 15, 15); /* this is the font color*/
}

/* create styles for the h1 tag */
h1{
    color: Red;
    font-family: serif;
    font-size: 30px;
    text-align: center;
}
/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line

h1{
    color: Red;
    font-family: serif;
    font-size: larger;
    text-align: center;
}

/* create styles for the h2 tag */
h2{
    color: Red;
    font-family: serif;
    font-size: 25px;
    text-align: left;
}

/* create styles for the h3 tag */
h3{
    color: Red;
    font-family: serif;
    font-size: 25px;
    text-align: left;
}

/* create styles for the p tag */
p{
    color: rgb(155, 28, 28);
    font-family: serif;
    font-size: 20px;
    text-align: left;
}
img{
    width: 50%;
    display: block;
    margin: 10px auto; 
    /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right*/
}